@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
body{
   
    background: url("./images/bg-pattern-desktop.svg") no-repeat center/cover;
 
}
/* mobiles*/
img {
    max-width: 100%;
    margin: 0;
    
  }

.logo{
   
    width: 100px;
    margin: 30px 40px;
}
main article picture img {
   
  width: 100%;
  }
.people{
    margin-bottom: 65px;

}

span{
    color:   hsl(0, 36%, 70%);;
    margin-top: 18px;
}

h1{
   
margin-left: 38px;
    font-size: 40px;
    letter-spacing:10px;
    font-weight: 400;
   
}
.left{
    margin-top: 40px;
}
p {
    line-height: 26px;
    color: hsl(0, 36%, 70%);
    font-weight: 400;
   
    margin: 30px 35px;
}
footer p {
    position: absolute;
    bottom: 0;
  width: 100%;
  height: 40px;
}
input{
    border: 1px solid hsl(0, 36%, 70%);
    width: 75%;
    padding: 15px;
    border-radius: 35px;
    height: 55px;
    font-size: 16px;
    max-width: 475px;
    margin-left: 25px;
}
.msg{
    display: none;
}
.inner-container{
     margin: auto;
    display: flex;
    justify-content: center;
   
    flex-direction: column-reverse;
   
margin: auto;
}
form {
  position: relative;
}
article{
   text-align: left;
}

button{
   position: absolute;
   background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
top: 0;
border: 0;
right: 82px;
height: 55px;
width: 100px;
border-radius: 50px;
padding: 15px;


}
button:hover{
    background-color: hsl(0, 64%, 70%)
}
.error{
    display: none;
    margin-top: 0.5rem;
}
.message{
    margin-left: 35px;
    color: red;
}
.big-error{
    display: none;
}
/* tablets*/
@media (min-width: 768px) {

.inner-container{
    display: flex;
    flex-direction: row;
    align-items: center;
  
   
}
main article picture img {
    margin-top: -156px;
    width: 100%;

  }
  button{
    position: absolute;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
 top: 0;
 border: 0;
 right: 77px;
 height: 55px;
 width: 100px;
 border-radius: 50px;
 padding: 15px;
 
 }
.logo{
    display: block;
    margin-left: 40px;
    width: 150px;
    margin-top: 55px;
}
main article{
    flex: 1;
}
input{
    width: 75%;
}

}
/* desktop*/
@media (min-width: 1000px){
    main article picture img {
        margin-top: -116px;
        max-width: 73%;
        margin-left: 194px;
      }
.left{
    margin-left: 100px;
    text-align: left;
}


h1{
    margin-left: 35px;
    
}
input{
    width: 75%;
}
button{
    position: absolute;
    background-image: linear-gradient(135deg, hsl(0, 50%, 86%), hsl(0,44%, 74%));
   
 top: 0;
 border: 0;
 right: 218px;
 height: 55px;
 width: 100px;
 border-radius: 50px;
 padding: 15px;
 cursor: pointer;
 }
 button:hover{
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
 }
 .logo{
    display: block;
    margin-left: 145px;
    width: 150px;
  
}
}